// ==========================================================================
// TILE
// ==========================================================================

@mixin tile {
	border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: $box-shadow;
}