.o-search__content {
  .o-search__list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 0.2rem;

    .m-activity {
      margin-bottom: 2rem;
      @include respond-between($breakpoint-mobile-default, $breakpoint-tablet-default) {
        flex: 0 0 49%;
        margin-right: 2%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }

      @include respond-above($breakpoint-tablet-default) {
        flex: 0 0 32%;

        margin-right: 2%;
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
    }

    .m-card {
      margin-bottom: 2rem;

      @include respond-above($breakpoint-mobile-default) {
        flex: 0 0 49%;
        margin-right: 2%;
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
    }

    @include respond-above($breakpoint-mobile-default) {
      justify-content: flex-start;
    }
  }

  @include respond-above($breakpoint-tablet-default) {
    margin-top: 2rem;
  }
}

.o-search__content--map {
  width: 112%;
  margin-left: -6%;

  @include respond-above($breakpoint-mobile-default) {
    width: 106%;
    margin-left: -3%;
  }

  @include respond-above($breakpoint-tablet-default) {
    width: 102%;
    margin-left: -2rem;
  }
}

.o-search__list-view-button--wrapper {
  display: flex;
  flex: 3;
  justify-self: start;
  justify-content: center;
}
